:root {
    --primery-font-family: Montserrat, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --primery-text-color-teme-light: #000000;
    --secondary-text-color-teme-light: #3D8C9D;
    --accent-color: #73A6B1;
    --via-magenta: #FF0090;
    --background-color-teme-dark: #F1FDFF;
    --background-color-teme-light: #F9FADF;
    --background-color-button: #7AE5FD;
}

body {
    font-family: var(--primery-font-family);
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    /* width: 100%; */
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* --START COMPONENTS-- */

.accent {
    color: var(--accent-color);
}

.visuality-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 390px;
    padding-left: 0;
    padding-right: 0;

    /* background-color: var(--via-magenta); */
}

@media screen and (min-width: 1440px){
    .container{
        width: 1440px;
        padding-left: auto;
        padding-right: auto;
    }    
}

/* --END COMPONENTS-- */


/* --START HEADER-- */

.page-header {
    /* width: 100%; */
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    position: fixed;
    top: 5%;
    z-index: 5;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.logo__img{
    display: none;
}

.navigation{
    display: none;
}

@media screen and (min-width: 1440px){
    .page-header{
        padding: 0 2%;

        flex-direction: row;
    }

    .logo__img {
        display: block;
        width: 65px;
        height: 65px;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list__item:nth-child(-n + 2) {
        margin-right: 4rem;
    }

    .nav-list__item:nth-last-child(2) {
        margin-right: 1.5rem;
    }

    .nav-list__link {
        font-size: 18px;
        line-height: 0.94;

        color: var(--primery-text-color-teme-light);
    }

    .nav-list__btn {
        padding: 1.4rem 2rem;
        border: none;
        border-radius: 6.2rem;

        font-size: 18px;
        line-height: 0.94;
        letter-spacing: 0.03em;
        white-space: nowrap;
        text-transform: uppercase;
        cursor: pointer;

        color: var(--primery-text-color-teme-light);
        background-color: var(--background-color-button);
    }
}

.mobile-menu-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 10%;

    border: none;
    line-height: 0;

    background-color: transparent;
    fill: var(--background-color-button);
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) {
    .mobile-menu-btn {
        display: none;
    }
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
    fill: var(--accent-color);
}

/* --END HEADER-- */


/* --START HERO-- */

.hero-container {
    width: 100%;
    height: 728px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #F1FDFF;
}
@media screen and (min-width: 1440px){
    .hero-container{
        height: 1196px;
        flex-direction: row;
        justify-content: normal;
        align-items: center;
    }
}

.hero__wrapper{
    max-width: 90%;
    margin-left: 3%;

    z-index: 2;

    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1440px){
    .hero__wrapper{
        max-width: 50%;
        margin-top: 0;
    }
}

.main-title{
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 0.95;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #9ad2de;    
}
@media screen and (min-width: 1440px){
    .main-title{
        font-size: 6.5rem;
    }
}

.hero__text{
    width: 100%;
    margin-top: 6%;

    font-size: 1.14rem;
    line-height: 1.2;

    color: #000000; 
}
@media screen and (min-width: 1440px){
    .hero__text{
        width: 80%;

        font-size: 1.42rem;
        line-height: 1.14;
    }
}

.hero__img{
    width: 50%;
    height: 50%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;

    object-fit: cover;
    /* background-color: var(--via-magenta); */
}
@media screen and (min-width: 1440px) {
    .hero__img {
        bottom: 5%;
    }
}
/* при полной верстке */

/* .hero__img{
    width: 70%;
    height: 100%;

    position: absolute;
    bottom: 5%;
    right: 0;
    z-index: 2;

    object-fit: cover;
} */

.hero__background{
    width: 100%;

    position: absolute;
    bottom: 0;
    right: -5%;
    z-index: 1;    
}
@media screen and (min-width: 1440px){
    .hero__background{
        width: 80%;

        right: 0;
        bottom: -5%;
        z-index: 1;
    }
}

/* --END HERO-- */


/* --START PROJECTS-- */ 

.project-container {
    padding-top: 200px;
    padding-bottom: 100px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 1440px) {
    .project-container {
        padding-top: 74px;
        padding-bottom: 48px;
    }
}

.title {
    font-size: 50px;
    line-height: 0.94;

    color: var(--primery-text-color-teme-light);
}

@media screen and (min-width: 391px) and (max-width: 1439px) {
    .title {
        text-align: center;
    }
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 60px;
    }
}

.title__text {
    margin-top: 16px;

    font-size: 20px;
    line-height: 0.96;

    color: var(--primery-text-color-teme-light);
}

@media screen and (min-width: 391px) and (max-width: 1439px) {
    .title__text {
        text-align: center;
    }
}

@media screen and (min-width: 1440px) {
    .title__text {
        margin-top: 10px;
        font-size: 27px;
    }
}

.title__span {
    margin-top: 28px;
    margin-bottom: 56px;
    max-width: 350px;

    word-wrap: break-word;

    font-size: 16px;
    line-height: 1.2;

    color: var(--accent-color);
}

@media screen and (min-width: 391px) and (max-width: 1439px) {
    .title__span {
        text-align: center;
    }
}

@media screen and (min-width: 1440px) {
    .title__span {
        margin-top: 20px;
        margin-bottom: 72px;
        max-width: 740px;

        text-align: center;
        font-size: 20px;
    }
}

.program-fest {
    margin-bottom: 0px;
}

@media screen and (min-width: 1440px) {
    .program-fest {
        margin-bottom: 60px;
    }
}

.program-fest__items:not(:last-child) {
    margin-bottom: 30px;
}

.program__wrapper {
    display: flex;
    flex-direction: column-reverse;

    padding: 0;

    background-color: var(--background-color-teme-dark);
    border-radius: 10px;
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
    .program__wrapper {
        align-items: center;
    }
}

@media screen and (min-width: 1440px) {
    .program__wrapper {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 40px 40px 74px 40px;
    }
}

.program__shedule {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 16px;
    margin-bottom: 72px;
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
    .program__shedule {
        margin-left: 0;
    }
}

@media screen and (min-width: 1440px) {
    .program__shedule {
        margin-left: 0;
        margin-bottom: 0;
    }
}

.program__title {
    margin-top: 44px;

    font-size: 30px;
    line-height: 0.95;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: var(--primery-text-color-teme-light);
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
    .program__title {
        margin-left: 0;
        text-align: center;
        max-width: 390px;
    }
}

@media screen and (min-width: 1440px) {
    .program__title {
        margin-top: 0;
        font-size: 46px;
    }
}

.program__subtitle {
    margin-top: 10px;

    font-size: 20px;
    line-height: 0.94;

    color: var(--primery-text-color-teme-light);
}

.program__items {
    margin-top: 44px;
}

.program__item:not(:last-child) {
    margin-bottom: 50px;
}

.program__name {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 0.97;

    color: var(--primery-text-color-teme-light);
}

.program__time {
    font-size: 16px;
    line-height: 0.97;

    color: #3D8C9D;
}

.program__img {
    width: 350px;
    height: 254px;

    border-radius: 10px;
    background-color: var(--via-magenta);
}

@media screen and (min-width: 1440px) {
    .program__img {
        width: 585px;
        height: 424px;
    }
}

@media screen and (max-width: 1439px) {
    .program-fest__btn {
        display: none;
    }
}

.program-fest__btn {

    padding: 20px 36px;
    border: none;
    border-radius: 87px;

    letter-spacing: 0.03em;
    white-space: nowrap;
    color: var(--primery-text-color-teme-light);
    background-color: var(--background-color-button);
    text-transform: uppercase;
    cursor: pointer;

    font-size: 18px;
    line-height: 0.94;
}

/* --END PROJECTS-- */











/* --START GIFTS- */

.gifts-container{
    width: 100%;
    /* height: 524px; */
    /* margin: 0 2%; */

    position: relative;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
}
@media screen and (min-width: 1440px) {
    .gifts-container {
        /* height: 738px; */
        flex-direction: row;

        /* padding-left: 72px; */
        /* padding-right: 82px; */
        /* margin: auto; */
        background-image: url("../images/Img-back-desktop-002.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.gifts__wrapper{
    z-index: 2;
    /* position: relative; */
/* 
    display: flex; */
    /* flex-direction: column-reverse; */
}

.gifts__background{
    width: 350px;
    height: 396px;

    position: absolute;
    bottom: 0;
    border-radius: 0.8rem;

    background-color: #F2FEFF;
}
@media screen and (min-width: 1440px){
    .gifts__background{
        width: 1240px;
        height: 278px;

        top: 35%;
    }
}

.gifts__text{
    max-width: 320px;
    margin: 2.8rem 0;
    z-index: 2;

    font-size: 20px;
    line-height: 1.2;
    
    color: var(--primery-text-color-teme-light);
}
@media screen and (min-width: 1440px){
    .gifts__text{
        max-width: 392px;

        font-size: 27px;
    }
}

.gifts__img{
    /* position: absolute;
    top: 0; */
    z-index: 2;

}
@media screen and (min-width: 1440px){
    .gifts__img{
    margin: 20% 0;
    }
}

/* --END GIFTS-- */


/* --START DONATE-- */

.donates-container{
    width: 100%;
    padding-top: 7.14rem;
    padding-bottom: 7rem;
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 1440px) {
    .donates-container {
        padding-top: 4.9rem;

        align-items: center;

        text-align: center;
    }
}

.donate__title {
    font-size: 50px;
    font-weight: 400;
    line-height: 0.95;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;

    color: var(--primery-text-color-teme-light);
}
@media screen and (min-width: 1440px) {
    .donates__title {
        font-size: 60px;
        text-align: center;
    }
}

.donate__subtitle {
    margin-top: 1.14rem;
    /* max-width: 390px; */


    font-size: 20px;
    line-height: 1.2;
    /* text-align: left; */
    letter-spacing: 0.02em;

    color: var(--accent-color);
}
@media screen and (min-width: 391px) and (max-width: 1439px) {
    .donate__subtitle {
        max-width: 390px;
        text-align: center;
    }
}
@media screen and (min-width: 1440px) {
    .donate__subtitle {
        max-width: 740px;

        margin-top: 1.5rem;
        max-width: 740px;

        text-align: center;
    }
}

.donate__text {
    margin-top: 5.9rem;

    font-size: 20px;
    line-height: 0.97;

    /* text-align: center; */

    color: var(--primery-text-color-teme-light);
}
@media screen and (min-width: 1440px) {
    .donate__text {
        margin-top: 5.6rem;
        max-width: 440px;

        font-size: 27px;
    }
}

.donate__moneys {
    margin-top: 1.6rem;
    margin-bottom: 4.9rem;
    display: flex;
    align-items: center;

    font-size: 60px;
    line-height: 0.95;
    /* text-align: center; */
    text-transform: uppercase;

    color: var(--primery-text-color-teme-light);
}

.donate_money:not(:last-child) {
    padding-right: 1rem;
    border-right: 2px solid #9AD2DE;
}

.donate_money:not(:first-child) {
    padding-left: 1rem;
}

.donate__btn {
    padding: 1.4rem 2.6rem;
    border: none;
    border-radius: 6.2rem;

    font-size: 18px;
    line-height: 0.94;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    white-space: nowrap;

    color: var(--primery-text-color-teme-light);
    background-color: var(--background-color-button);

    cursor: pointer;
}

/* --END DONATE-- */


/* --START FOOTER-- */

.footer-container {
    width: 100%;
    height: auto;
    /* padding-left: 5%;
    padding-right: 5%; */

    /* background-color: var(--background-color-teme-light); */
}
@media screen and (min-width: 1440px) {
    .footer-container {
        background-image: url("../images/Img-back-desktop-003.png");
        background-size: auto;
        background-position-x: left;
        background-repeat: no-repeat;
        background-color: var(--background-color-teme-light);
    }
}

.contact-container {
    padding-top: 5.1rem;
    padding-bottom: 6.9rem;
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-color-teme-light);
}
@media screen and (min-width: 1440px) {
    .contact-container {
        padding-top: 4rem;
        padding-left: 7.9rem;

        flex-direction: row;
        align-items: normal;
        justify-content: space-around;

        background-color: transparent;
    }
}

.contact__title {
    font-size: 60px;
    line-height: 0.95;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: var(--primery-text-color-teme-light)
}

.contact__address {
    padding-top: 3.1rem;
    max-width: 390px;
}
@media screen and (min-width: 1440px) {
    .contact__address {
        padding-top: 0;
        max-width: 440px;
    }
}

.contact__link {
    width: 32px;
    height: 32px;

    /* background-color: var(--via-magenta); */
}

.contact__text {
    margin-top: 0.7rem;

    font-size: 16px;
    line-height: 1.2;

    color: var(--primery-text-color-teme-light);
}
@media screen and (min-width: 1440px) {
    .contact__text {
        font-size: 20px;
    }
}

.contact__links {
    margin-top: 4rem;
    display: flex;

}

.contact__link:not(:last-child) {
    margin-right: 1.1rem;
}

.subscription-container {
    padding-top: 7.14rem;
    padding-bottom: 8.3rem;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 0.7rem;

    /* max-width: 390px; */

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFFFFF;
}
@media screen and (min-width: 1440px) {
    .subscription-container {
        /* max-width: 1240px; */
        margin: 0 10%;

        flex-direction: row;
        justify-content: space-around;
    }
}

.subscription__img {
    margin-top: 2.6rem;
    margin-bottom: 6.42rem;
    /* margin-left: 2.9rem; */
    /* width: 350px;
    height: 240px; */

    background-color: var(--via-magenta);
}
@media screen and (min-width: 1440px) {
    .subscription__img {
        margin-bottom: 0;
        /* width: 508px;
        height: 348px; */
    }
}

.subscription-form {

    display: flex;
    align-items: center;
    flex-direction: column;
}
@media screen and (min-width: 391px) and (max-width: 1439px){
    .subscription-form{
        max-width: 390px;
    }
}
@media screen and (min-width: 1440px){
    .subscription-form{
        padding-left: 6.9rem;

        max-width: 506px;
    }
}

.subscription__title {
    padding-bottom: 4.6rem;

    font-size: 20px;
    line-height: 1.2;

    color: var(--primery-text-color-teme-light);
}
@media screen and (min-width: 1440px) {
    .subscription__title {
        padding-bottom: 2.9rem;

        font-size: 27px;
    }
}

.subscription-form__input {
    width: 90%;
    /* height: 50px; */
    padding: 1.4rem 3rem;
    margin-bottom: 2.1rem;
    color: var(--primery-text-color-teme-light);
    background-color: var(--background-color-teme-light);
    border: none;

    border-radius: 4.3rem;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form__input:focus {
    outline: none;
    border-color: var(--background-color-teme-light);
}


.subscription-form__btn {
    width: 90%;
    padding: 1.6rem 0;
    border: none;
    border-radius: 4.3rem;

    font-size: 18px;
    line-height: 0.94;
    letter-spacing: 0.03em;
    white-space: nowrap;
    text-transform: uppercase;

    color: var(--primery-text-color-teme-light);
    background-color: var(--background-color-button);

    cursor: pointer;
}

/* --END FOOTER-- */